<h1>Carga de productos</h1>

<form id="productsForm" action="/" method="post">
  <label>Title</label>
  <input name="title" type="text" />
  <label>Price</label>
  <input name="price" type="number"/>
  <label >URL Image</label>
  <input name="thumbnail" type="url"/>
  <input type="submit"/>

</form>

<div> <h1></h1></div>
<a href="./products">
   <button>Ver listado de productos</button>
</a>
